<form id="form1">
    Nome:
    <input type="text" id="nome"><br><br>
    Sobrenome:
    <input type="text" id="sobrenome"><br><br>
    CPF:
    <input type="text" id="cpf">
</form>
<button type="button" onclick="Salvar()">Salvar</button>